In [34]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train.csv')

In [3]:
train['Outcome linked to object of search'].value_counts(dropna=False, normalize=True)

NaN      0.716155
True     0.151788
False    0.132057
Name: Outcome linked to object of search, dtype: float64

In [4]:
train['Outcome linked to object of search'] = train['Outcome linked to object of search'].fillna(False)
train['Outcome linked to object of search'].value_counts(dropna=False, normalize=True)

False    0.848212
True     0.151788
Name: Outcome linked to object of search, dtype: float64

In [5]:
train['Outcome'].value_counts(dropna=False)

A no further action disposal                                    455342
Arrest                                                           94118
Community resolution                                             41311
Khat or Cannabis warning                                         17173
Nothing found - no further action                                16188
Summons / charged by post                                        12232
Penalty Notice for Disorder                                      11214
Suspect arrested                                                  4649
Caution (simple or conditional)                                   3179
Offender given drugs possession warning                           2102
Local resolution                                                  1333
Suspect summonsed to court                                         636
Article found - Detailed outcome unavailable                       524
Offender given penalty notice                                      414
Offender cautioned                                                 189
Suspected psychoactive substances seized - No further action         7
Name: Outcome, dtype: int64

In [6]:
positive_outcome = ['Local resolution',
           'Community resolution',
           'Arrest',
           'Article found - Detailed outcome unavailable',
           'Caution (simple or conditional)',
           'Khat or Cannabis warning',
           'Offender cautioned',
           'Offender given drugs possession warning',
           'Offender given penalty notice',
           'Penalty Notice for Disorder',
           'Summons / charged by post',
           'Suspect arrested',
           'Suspect summonsed to court',
           'Suspected psychoactive substances seized - No further action']

train['positive_outcome'] = train['Outcome'].isin(positive_outcome)

In [7]:
pd.crosstab(train["positive_outcome"],train["Outcome linked to object of search"],
            margins=True, margins_name="Total",dropna=False)

Outcome linked to object of search   False    True   Total
positive_outcome
False                               433543   37987  471530
True                                126795   62286  189081
Total                               560338  100273  660611

In [8]:
stations_to_exclude = ['metropolitan', 'gwent', 'humberside']

In [9]:
train_model = train[~train['station'].isin(stations_to_exclude)]

In [10]:
pd.crosstab(train_model["positive_outcome"],train_model["Outcome linked to object of search"],
            margins=True, margins_name="Total",dropna=False)

Outcome linked to object of search   False    True   Total
positive_outcome
False                               174918   37987  212905
True                                 29571   62286   91857
Total                               204489  100273  304762

In [11]:
train_model[(train_model["Outcome linked to object of search"] == True) & (train_model["positive_outcome"]==False)].Outcome.value_counts(dropna=False)

A no further action disposal         36521
Nothing found - no further action     1466
Name: Outcome, dtype: int64

In [12]:
pd.crosstab(train_model["station"],train_model["Outcome linked to object of search"])

Outcome linked to object of search  False  True
station
avon-and-somerset                    7146   2869
bedfordshire                         3393    816
btp                                  1434   8121
cambridgeshire                        697    180
cheshire                             3492   1353
city-of-london                       2339   1236
cleveland                            1394    478
cumbria                               905   1224
derbyshire                            229   2623
devon-and-cornwall                   5520   2049
dorset                               2172    653
durham                               1274   1504
dyfed-powys                          4106    209
essex                               13764   5275
gloucestershire                      1484   1387
greater-manchester                   3983    868
hampshire                            9973   3990
hertfordshire                       10014   3314
kent                                 9764   3545
lancashire                           8586    568
leicestershire                       4407    573
lincolnshire                         3591   1456
merseyside                          32918   8679
norfolk                              3894    885
north-wales                          4035   1180
north-yorkshire                      1825    409
northamptonshire                     2517   1009
northumbria                          2893   4156
nottinghamshire                      4677   2426
south-yorkshire                     11022   2143
staffordshire                        5728   1590
suffolk                              2548    807
surrey                               7966   3006
sussex                               2444   4497
thames-valley                       15255   2643
warwickshire                          859   2390
west-mercia                          1951   5953
west-yorkshire                       3120  14024
wiltshire                            1170    185

In [13]:
train_model.head()

,observation_id,Type,Date,Part of a policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing,station,positive_outcome
0,34d76816-cfc2-4bdd-b3a2-bf0c40b12689,Person search,2019-12-01T00:00:00+00:00,True,NaN,NaN,Male,18-24,Asian/Asian British - Any other Asian background,Asian,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,False,devon-and-cornwall,False
1,83c87ec1-e6d4-4bbb-8e0c-159516706359,Person search,2019-12-01T00:09:00+00:00,True,NaN,NaN,Male,18-24,NaN,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,False,devon-and-cornwall,False
2,8c2eae4b-035a-492f-92d6-cd27e6c900a1,Person search,2019-12-01T00:10:00+00:00,True,NaN,NaN,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,False,devon-and-cornwall,False
3,e63a036a-a728-4efe-8e08-7198f56d6d0a,Person search,2019-12-01T00:10:00+00:00,False,NaN,NaN,Male,18-24,NaN,Asian,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,False,devon-and-cornwall,False
4,40c70aca-1f7f-4efe-8c5b-ade0f2e9937d,Person search,2019-12-01T00:12:00+00:00,True,50.368247,-4.126646,Male,18-24,NaN,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,False,devon-and-cornwall,False

In [14]:
train.Date.fromisoformat('2019-11-11T00:52:43+00:00')

AttributeError: 'Series' object has no attribute 'fromisoformat'

In [ ]:
# pd.Timestamp(train['Date'])
pd.Timestamp('2018-08-29T02:45:00+00:00')

In [ ]:
train['Date2']=pd.to_datetime(train['Date'], infer_datetime_format=True)

In [ ]:
train.info()

In [ ]:
train['Date2'].dt.year.unique()

In [ ]:
train['Date2'].dt.month.unique()

In [ ]:
train['Date2'].dt.day.unique()

In [ ]:
train['referencia'] = train['Date2'].dt.year*100 + train['Date2'].dt.month

In [ ]:
train_model['referencia'].value_counts(dropna=False)

In [19]:
pd.crosstab(train["Removal of more than just outer clothing"],train["Type"],
            margins=True, margins_name="Total",dropna=False)

Type,Person and Vehicle search,Person search,Vehicle search,Total
Removal of more than just outer clothing,,,,
False,51000,172347,50,223397
True,2793,7871,1,10665
Total,156156,503503,952,660611

In [24]:
train.groupby(['Removal of more than just outer clothing', 
            'Type'])['observation_id'].count().unstack()

Type,Person and Vehicle search,Person search,Vehicle search
Removal of more than just outer clothing,,,
False,51000,172347,50
True,2793,7871,1

In [25]:
train['Removal of more than just outer clothing'].value_counts(dropna=False)

NaN      426549
False    223397
True      10665
Name: Removal of more than just outer clothing, dtype: int64

In [26]:
train['Type'].value_counts(dropna=False)

Person search                503503
Person and Vehicle search    156156
Vehicle search                  952
Name: Type, dtype: int64

In [29]:
train[train['Type']=='Vehicle search']['Removal of more than just outer clothing'].value_counts(dropna=False)

NaN      901
False     50
True       1
Name: Removal of more than just outer clothing, dtype: int64

In [42]:
train['Removal of more than just outer clothing'].value_counts(dropna=False)

NaN      426549
False    223397
True      10665
Name: Removal of more than just outer clothing, dtype: int64

In [44]:
train[(train['Type']!='Vehicle search')&(train['Removal of more than just outer clothing'] != True)&(train['Removal of more than just outer clothing'] != False)]

,observation_id,Type,Date,Part of a policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing,station,positive_outcome
45,26d84084-c58a-4c41-9fb1-ebabbec76afc,Person search,2019-12-05T11:30:00+00:00,False,NaN,NaN,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,NaN,devon-and-cornwall,False
1251,bed813c8-151b-4653-b7d8-b7ce6689aec9,Person and Vehicle search,2019-12-19T02:39:00+00:00,NaN,51.364050,-2.899212,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,NaN,avon-and-somerset,False
1788,37b532e5-e840-46f3-b3e7-908c91786ab4,Person and Vehicle search,2019-12-01T02:12:00+00:00,NaN,53.699211,-1.142087,Male,over 34,Other ethnic group - Not stated,Black,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,Arrest,True,NaN,north-yorkshire,True
1789,98ce5079-8a57-490c-bbbd-a9f4c88ecf59,Person search,2019-12-01T08:12:00+00:00,NaN,53.714987,-1.127265,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,A no further action disposal,False,NaN,north-yorkshire,False
1790,fee5ef69-2aa5-4795-9c6b-a641e153325d,Person search,2019-12-01T11:12:00+00:00,NaN,53.826404,-1.046664,Male,10-17,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,A no further action disposal,False,NaN,north-yorkshire,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660599,d05f64b2-0700-42cc-95d8-a62365b4614a,Person search,2018-08-24T16:50:00+00:00,NaN,NaN,NaN,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,A no further action disposal,False,NaN,wiltshire,False
660604,9b5da48d-dcb8-41f8-941a-5009a498c867,Person search,2018-08-27T19:50:00+00:00,NaN,NaN,NaN,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Article for use in theft,A no further action disposal,False,NaN,wiltshire,False
660605,26bd18b7-ce5b-4ba5-9952-bd3b2b37aa93,Person search,2018-08-28T22:25:00+00:00,NaN,NaN,NaN,Female,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Caution (simple or conditional),False,NaN,wiltshire,True
660606,a23dc59d-29fe-48e5-b012-81feb6acfddf,Person search,2018-08-29T02:45:00+00:00,NaN,NaN,NaN,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,NaN,wiltshire,False
660610,4d8604d3-9864-4fd5-a811-f8ce7bed619a,Person search,2018-08-30T13:15:00+00:00,NaN,NaN,NaN,Female,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Caution (simple or conditional),False,NaN,wiltshire,True