In [1]:
import json
import joblib
import pickle
import pandas as pd
import numpy as np
# import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score, roc_auc_score

import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('data/train.csv')

# transforming Date column in datetime
train['Date']=pd.to_datetime(train['Date'], infer_datetime_format=True)

# auxiliar Date feature (for temporal analyzis)
train['referencia'] = train['Date'].dt.year*100 + train['Date'].dt.month

# according to Dr Wilson's instructions: 
# "If there was a search and the outcome linked to object of search has not been written please consider it to be False"
train['Outcome linked to object of search'] = train['Outcome linked to object of search'].fillna(False)

# according to Dr Wilson's instructions missing values means False 
train['Part of a policing operation'] = train['Part of a policing operation'].fillna(False)

# Outer clothing be filled with False? 
#Yes, except when itâ€™s just a vehicle search, in which case it makes no sense and should be kept as NaN
mask= ((train['Type']!='Vehicle search') & 
      (train['Removal of more than just outer clothing'] != True) &
      (train['Removal of more than just outer clothing'] != False))

train.loc[mask, 'Removal of more than just outer clothing']=False


positive_outcome = ['Local resolution',
           'Community resolution',
           'Arrest',
           'Article found - Detailed outcome unavailable',
           'Caution (simple or conditional)',
           'Khat or Cannabis warning',
           'Offender cautioned',
           'Offender given drugs possession warning',
           'Offender given penalty notice',
           'Penalty Notice for Disorder',
           'Summons / charged by post',
           'Suspect arrested',
           'Suspect summonsed to court',
           'Suspected psychoactive substances seized - No further action']

train['positive_outcome'] = train['Outcome'].isin(positive_outcome)



train['target'] = False
mask=((train["positive_outcome"] == True) & (train["Outcome linked to object of search"]==True))
train.loc[mask, 'target']=True



stations_to_exclude = ['metropolitan', 'gwent', 'humberside']
train_filter = train[~train['station'].isin(stations_to_exclude)]
print("Exclusion of {} observations".format(train[train['station'].isin(stations_to_exclude)]['observation_id'].nunique()))
train_filter.shape

Exclusion of 355849 observations

(304762, 19)

In [7]:
train.groupby(['Outcome linked to object of search','positive_outcome'], dropna=False)['Outcome'].count().unstack()

positive_outcome                     False   True
Outcome linked to object of search
False                               433543  126795
True                                 37987   62286

### Discrimination

In [3]:
train.groupby(['station','Officer-defined ethnicity'], dropna=False)['Outcome'].count().unstack()

Officer-defined ethnicity    Asian     Black  Mixed    Other     White
station
avon-and-somerset            288.0    1468.0  428.0    143.0    7688.0
bedfordshire                 974.0     832.0    2.0     59.0    2342.0
btp                          757.0    2931.0    NaN    177.0    5690.0
cambridgeshire                67.0     106.0    NaN     23.0     681.0
cheshire                     101.0     151.0    NaN     19.0    4574.0
city-of-london               753.0     792.0    NaN    135.0    1895.0
cleveland                    111.0      50.0    NaN     24.0    1687.0
cumbria                       35.0      24.0    NaN      9.0    2061.0
derbyshire                   315.0     281.0    NaN     44.0    2212.0
devon-and-cornwall            79.0     227.0    NaN     47.0    7216.0
dorset                        58.0     340.0    NaN     21.0    2406.0
durham                        36.0      25.0    NaN     15.0    2702.0
dyfed-powys                   65.0      82.0    1.0     44.0    4123.0
essex                        809.0    2223.0    NaN    780.0   15227.0
gloucestershire               64.0     222.0    NaN    197.0    2388.0
greater-manchester           672.0     846.0    NaN     98.0    3235.0
gwent                         63.0      33.0    NaN      6.0     670.0
hampshire                    688.0    1823.0    NaN    326.0   11126.0
hertfordshire               1320.0    2562.0    NaN    341.0    9105.0
humberside                   158.0     174.0    NaN      NaN    3451.0
kent                         506.0    1500.0  318.0   1162.0    9823.0
lancashire                  1405.0     272.0    NaN     30.0    7447.0
leicestershire               871.0     752.0    NaN     96.0    3261.0
lincolnshire                  86.0     209.0    NaN     20.0    4732.0
merseyside                   597.0    1906.0    NaN    454.0   38640.0
metropolitan               61216.0  142043.0    NaN  13853.0  134182.0
norfolk                       80.0     342.0  113.0     42.0    4202.0
north-wales                   39.0      59.0    NaN    347.0    4770.0
north-yorkshire               69.0      59.0    NaN      6.0    2100.0
northamptonshire             196.0     742.0    NaN     12.0    2576.0
northumbria                  353.0     217.0   62.0    189.0    6228.0
nottinghamshire              710.0    1094.0  458.0    108.0    4733.0
south-yorkshire             1202.0    1147.0    NaN    176.0   10640.0
staffordshire                837.0     609.0    NaN     71.0    5801.0
suffolk                       86.0     322.0  181.0    138.0    2628.0
surrey                      1108.0    1214.0   36.0    134.0    8480.0
sussex                       335.0     982.0    NaN     73.0    5551.0
thames-valley               3306.0    3459.0    NaN     69.0   11064.0
warwickshire                 274.0     361.0  100.0     77.0    2437.0
west-mercia                  664.0     504.0  131.0    139.0    6466.0
west-yorkshire              4602.0    1485.0    NaN    130.0   10927.0
wiltshire                     80.0     123.0    NaN      8.0    1144.0

In [10]:
train.groupby(['station','Gender'], dropna=False)['Outcome'].count().unstack()

Gender               Female      Male  Other
station
avon-and-somerset    1336.0    8679.0    NaN
bedfordshire          379.0    3825.0    5.0
btp                   703.0    8849.0    3.0
cambridgeshire        137.0     739.0    1.0
cheshire              429.0    4416.0    NaN
city-of-london        354.0    3218.0    3.0
cleveland             175.0    1697.0    NaN
cumbria               303.0    1825.0    1.0
derbyshire            279.0    2572.0    1.0
devon-and-cornwall   1178.0    6391.0    NaN
dorset                431.0    2394.0    NaN
durham                265.0    2506.0    7.0
dyfed-powys           648.0    3667.0    NaN
essex                2148.0   16891.0    NaN
gloucestershire       322.0    2549.0    NaN
greater-manchester    378.0    4473.0    NaN
gwent                  58.0     714.0    NaN
hampshire            1709.0   12208.0   46.0
hertfordshire        1440.0   11888.0    NaN
humberside            429.0    3354.0    NaN
kent                 1575.0   11734.0    NaN
lancashire            777.0    8358.0   19.0
leicestershire        447.0    4533.0    NaN
lincolnshire          585.0    4459.0    3.0
merseyside           2488.0   39101.0    8.0
metropolitan        23429.0  327760.0  105.0
norfolk               701.0    4023.0   55.0
north-wales           598.0    4617.0    NaN
north-yorkshire       379.0    1855.0    NaN
northamptonshire      309.0    3217.0    NaN
northumbria           718.0    6320.0   11.0
nottinghamshire       490.0    6609.0    4.0
south-yorkshire      1454.0   11711.0    NaN
staffordshire         766.0    6540.0   12.0
suffolk               428.0    2886.0   41.0
surrey               1336.0    9631.0    5.0
sussex                962.0    5979.0    NaN
thames-valley        1702.0   16161.0   35.0
warwickshire          335.0    2911.0    3.0
west-mercia           917.0    6983.0    4.0
west-yorkshire       1147.0   15997.0    NaN
wiltshire             168.0    1182.0    5.0

In [11]:
train.groupby(['station','target'], dropna=False)['Outcome'].count().unstack()

target                 False   True
station
avon-and-somerset     7571.0  2444.0
bedfordshire          3396.0   813.0
btp                   7455.0  2100.0
cambridgeshire         722.0   155.0
cheshire              3492.0  1353.0
city-of-london        2581.0   994.0
cleveland             1406.0   466.0
cumbria               1647.0   482.0
derbyshire            2149.0   703.0
devon-and-cornwall    5896.0  1673.0
dorset                2172.0   653.0
durham                1779.0   999.0
dyfed-powys           4234.0    81.0
essex                14146.0  4893.0
gloucestershire       2234.0   637.0
greater-manchester    3983.0   868.0
gwent                  772.0     NaN
hampshire            10412.0  3551.0
hertfordshire        10099.0  3229.0
humberside            3783.0     NaN
kent                 10326.0  2983.0
lancashire            8586.0   568.0
leicestershire        4407.0   573.0
lincolnshire          4269.0   778.0
merseyside           32918.0  8679.0
metropolitan        351294.0     NaN
norfolk               4090.0   689.0
north-wales           4547.0   668.0
north-yorkshire       1867.0   367.0
northamptonshire      2721.0   805.0
northumbria           5368.0  1681.0
nottinghamshire       5288.0  1815.0
south-yorkshire      11486.0  1679.0
staffordshire         5730.0  1588.0
suffolk               2739.0   616.0
surrey                8500.0  2472.0
sussex                5461.0  1480.0
thames-valley        15431.0  2467.0
warwickshire          2485.0   764.0
west-mercia           5780.0  2124.0
west-yorkshire       13933.0  3211.0
wiltshire             1170.0   185.0

In [4]:
train.groupby(['station','positive_outcome'], dropna=False)['Outcome'].count().unstack()

positive_outcome     False  True
station
avon-and-somerset     6871   3144
bedfordshire          3151   1058
btp                   6971   2584
cambridgeshire         541    336
cheshire              2901   1944
city-of-london        2363   1212
cleveland             1272    600
cumbria               1543    586
derbyshire            1955    897
devon-and-cornwall    5235   2334
dorset                2149    676
durham                1488   1290
dyfed-powys           2954   1361
essex                13163   5876
gloucestershire       2058    813
greater-manchester    3570   1281
gwent                  742     30
hampshire             7922   6041
hertfordshire         9256   4072
humberside            2841    942
kent                  7190   6119
lancashire            7289   1865
leicestershire        3345   1635
lincolnshire          3937   1110
merseyside           32279   9318
metropolitan        255042  96252
norfolk               3656   1123
north-wales           4218    997
north-yorkshire       1778    456
northamptonshire      2522   1004
northumbria           4975   2074
nottinghamshire       4595   2508
south-yorkshire       9824   3341
staffordshire         4997   2321
suffolk               2359    996
surrey                7829   3143
sussex                4018   2923
thames-valley        13407   4491
warwickshire          2230   1019
west-mercia           5096   2808
west-yorkshire       10955   6189
wiltshire             1043    312

In [14]:
pd.crosstab(train["station"],train["Gender"],values=train["target"], aggfunc='mean')

Gender                Female      Male     Other
station
avon-and-somerset   0.188623  0.252564       NaN
bedfordshire        0.160950  0.196601  0.000000
btp                 0.236131  0.218443  0.333333
cambridgeshire      0.182482  0.175913  0.000000
cheshire            0.270396  0.280118       NaN
city-of-london      0.200565  0.286513  0.333333
cleveland           0.200000  0.253978       NaN
cumbria             0.221122  0.227397  0.000000
derbyshire          0.186380  0.253110  0.000000
devon-and-cornwall  0.204584  0.224065       NaN
dorset              0.174014  0.241437       NaN
durham              0.294340  0.367119  0.142857
dyfed-powys         0.030864  0.016635       NaN
essex               0.228119  0.260671       NaN
gloucestershire     0.173913  0.227933       NaN
greater-manchester  0.142857  0.181981       NaN
gwent               0.000000  0.000000       NaN
hampshire           0.256875  0.253850  0.282609
hertfordshire       0.204167  0.246888       NaN
humberside          0.000000  0.000000       NaN
kent                0.222222  0.224391       NaN
lancashire          0.063063  0.062096  0.000000
leicestershire      0.107383  0.115817       NaN
lincolnshire        0.112821  0.159453  0.333333
merseyside          0.207395  0.208665  0.500000
metropolitan        0.000000  0.000000  0.000000
norfolk             0.124108  0.148397  0.090909
north-wales         0.128763  0.128005       NaN
north-yorkshire     0.166227  0.163881       NaN
northamptonshire    0.184466  0.232515       NaN
northumbria         0.261838  0.235759  0.272727
nottinghamshire     0.195918  0.259797  0.500000
south-yorkshire     0.077717  0.133720       NaN
staffordshire       0.207572  0.218349  0.083333
suffolk             0.147196  0.189536  0.146341
surrey              0.163174  0.234036  0.000000
sussex              0.204782  0.214584       NaN
thames-valley       0.130435  0.138420  0.228571
warwickshire        0.220896  0.237032  0.000000
west-mercia         0.273719  0.267936  0.500000
west-yorkshire      0.159547  0.189285       NaN
wiltshire           0.130952  0.137902  0.000000

In [27]:
train_filter.groupby(['Gender','target'], dropna=False)['Outcome'].count().unstack()

target   False  True
Gender
Female   25205   5691
Male    217047  56547
Other      224     48

In [20]:
train_filter.groupby(['Officer-defined ethnicity','positive_outcome'], dropna=False)['Outcome'].count().unstack()

positive_outcome            False  True
Officer-defined ethnicity
Asian                       16858   7740
Black                       22167  10176
Mixed                        1267    563
Other                        4057   1926
White                      168556  71452

In [21]:
train_filter.groupby(['Officer-defined ethnicity','target'], dropna=False)['Outcome'].count().unstack()

target                      False  True
Officer-defined ethnicity
Asian                       19626   4972
Black                       25596   6747
Mixed                        1447    383
Other                        4707   1276
White                      191100  48908

In [22]:
pd.crosstab(train_filter["station"],train_filter["Officer-defined ethnicity"],values=train_filter["target"], aggfunc='mean')

Officer-defined ethnicity     Asian     Black     Mixed     Other     White
station
avon-and-somerset          0.267361  0.219346  0.217290  0.335664  0.247659
bedfordshire               0.212526  0.176683  0.500000  0.101695  0.192997
btp                        0.217966  0.174684       NaN  0.220339  0.243234
cambridgeshire             0.328358  0.113208       NaN  0.086957  0.174743
cheshire                   0.336634  0.324503       NaN  0.315789  0.276345
city-of-london             0.254980  0.255051       NaN  0.170370  0.304485
cleveland                  0.306306  0.220000       NaN  0.291667  0.245406
cumbria                    0.257143  0.291667       NaN  0.444444  0.224163
derbyshire                 0.307937  0.252669       NaN  0.159091  0.238698
devon-and-cornwall         0.215190  0.233480       NaN  0.212766  0.220759
dorset                     0.310345  0.291176       NaN  0.095238  0.221945
durham                     0.388889  0.440000       NaN  0.733333  0.356403
dyfed-powys                0.015385  0.036585  0.000000  0.000000  0.018676
essex                      0.278121  0.242915       NaN  0.214103  0.260130
gloucestershire            0.296875  0.247748       NaN  0.228426  0.216918
greater-manchester         0.200893  0.195035       NaN  0.234694  0.168470
hampshire                  0.284884  0.302798       NaN  0.285276  0.243574
hertfordshire              0.254545  0.234973       NaN  0.228739  0.243053
kent                       0.235178  0.206000  0.229560  0.216007  0.227120
lancashire                 0.068327  0.051471       NaN  0.100000  0.061098
leicestershire             0.150402  0.107713       NaN  0.083333  0.108249
lincolnshire               0.244186  0.153110       NaN  0.100000  0.152790
merseyside                 0.226131  0.213536       NaN  0.246696  0.207686
norfolk                    0.187500  0.108187  0.176991  0.071429  0.146121
north-wales                0.102564  0.118644       NaN  0.109510  0.129769
north-yorkshire            0.217391  0.186441       NaN  0.333333  0.161429
northamptonshire           0.311224  0.215633       NaN  0.500000  0.224379
northumbria                0.218130  0.253456  0.177419  0.275132  0.238600
nottinghamshire            0.294366  0.228519  0.189956  0.203704  0.263469
south-yorkshire            0.124792  0.149085       NaN  0.170455  0.124812
staffordshire              0.237754  0.246305       NaN  0.281690  0.210136
suffolk                    0.186047  0.217391  0.127072  0.086957  0.188356
surrey                     0.223827  0.255354  0.250000  0.238806  0.220873
sussex                     0.235821  0.230143       NaN  0.164384  0.209512
thames-valley              0.143376  0.130385       NaN  0.144928  0.138467
warwickshire               0.208029  0.260388  0.160000  0.233766  0.237587
west-mercia                0.280120  0.337302  0.381679  0.302158  0.259202
west-yorkshire             0.190352  0.210774       NaN  0.223077  0.182392
wiltshire                  0.075000  0.130081       NaN  0.125000  0.141608

In [24]:
train_filter['Object of search'].value_counts(dropna=False)

Controlled drugs                              192161
Offensive weapons                              35391
Article for use in theft                       30287
Stolen goods                                   26617
Articles for use in criminal damage             6494
Anything to threaten or harm anyone             5241
Firearms                                        2957
Evidence of offences under the Act              1930
Psychoactive substances                         1701
Fireworks                                       1695
Detailed object of search unavailable            129
Game or poaching equipment                        96
Goods on which duty has not been paid etc.        23
Evidence of wildlife offences                     21
Crossbows                                         17
Seals or hunting equipment                         2
Name: Object of search, dtype: int64

In [25]:
pd.crosstab(train_filter["station"],train_filter["Object of search"],values=train_filter["target"], aggfunc='mean')

Object of search,Anything to threaten or harm anyone,Article for use in theft,Articles for use in criminal damage,Controlled drugs,Crossbows,Detailed object of search unavailable,Evidence of offences under the Act,Evidence of wildlife offences,Firearms,Fireworks,Game or poaching equipment,Goods on which duty has not been paid etc.,Offensive weapons,Psychoactive substances,Seals or hunting equipment,Stolen goods
station,,,,,,,,,,,,,,,,
avon-and-somerset,0.058824,0.132075,0.119565,0.296877,0.00,NaN,0.185185,NaN,0.070423,0.000000,0.000000,0.25,0.112163,0.800000,NaN,0.219474
bedfordshire,0.000000,0.067797,0.034483,0.253642,NaN,NaN,NaN,NaN,0.086957,0.111111,NaN,NaN,0.079433,0.000000,NaN,0.164502
btp,0.063465,0.192612,0.333333,0.276552,0.00,NaN,0.117647,1.000000,0.106383,NaN,NaN,0.00,0.087664,0.454545,NaN,0.268357
cambridgeshire,NaN,0.000000,0.000000,0.280943,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.023952,NaN,NaN,0.195122
cheshire,NaN,0.122402,0.218182,0.330009,0.00,NaN,NaN,NaN,0.266667,0.000000,NaN,NaN,0.123641,NaN,NaN,0.359431
city-of-london,0.078947,0.206490,0.074074,0.359896,NaN,NaN,0.182796,NaN,0.114286,0.000000,NaN,NaN,0.125984,0.000000,NaN,0.203488
cleveland,0.256410,0.161392,0.185185,0.286307,NaN,NaN,0.352941,NaN,0.178571,NaN,NaN,NaN,0.215447,NaN,NaN,0.264423
cumbria,NaN,0.119318,0.131579,0.239055,NaN,NaN,NaN,NaN,0.333333,0.000000,0.000000,NaN,0.147186,NaN,NaN,0.336323
derbyshire,NaN,0.167500,0.130435,0.294851,NaN,NaN,0.142857,NaN,0.290323,0.000000,NaN,0.00,0.118421,NaN,NaN,0.224806
devon-and-cornwall,NaN,0.076923,0.090909,0.255546,NaN,NaN,NaN,NaN,0.142857,NaN,NaN,NaN,0.100000,NaN,NaN,0.168293
dorset,NaN,0.187500,0.142857,0.247675,NaN,NaN,0.000000,0.666667,0.200000,NaN,0.166667,NaN,0.178344,NaN,NaN,0.213333
durham,NaN,0.220264,0.315789,0.397813,NaN,NaN,NaN,NaN,0.344828,0.200000,0.473684,0.00,0.320872,0.000000,NaN,0.408989
dyfed-powys,0.054085,0.000000,0.000000,0.010390,0.00,NaN,0.038462,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000
essex,0.027842,0.135943,0.096447,0.307923,NaN,NaN,0.108553,NaN,0.181818,NaN,NaN,NaN,0.127949,NaN,NaN,0.279070
gloucestershire,NaN,0.081731,0.073171,0.272867,NaN,NaN,NaN,0.000000,0.050000,NaN,0.000000,NaN,0.093023,NaN,NaN,0.168254
greater-manchester,0.088608,0.063380,0.063492,0.269377,NaN,NaN,NaN,NaN,0.145833,0.071429,NaN,NaN,0.091329,0.500000,NaN,0.128571
hampshire,0.091362,0.140244,0.125000,0.307982,0.00,NaN,0.169811,0.000000,0.109756,0.000000,0.000000,0.75,0.143546,1.000000,NaN,0.187748
hertfordshire,0.000000,0.142857,0.011494,0.305717,NaN,NaN,NaN,NaN,0.025000,0.022222,0.333333,NaN,0.092128,0.000000,NaN,0.251366
kent,NaN,0.125854,0.177570,0.245852,NaN,NaN,0.124031,NaN,0.121547,NaN,NaN,NaN,0.135782,0.298026,NaN,0.254674
lancashire,NaN,0.012903,0.000846,0.236169,NaN,NaN,NaN,NaN,0.016667,0.000000,NaN,NaN,0.100000,NaN,NaN,0.185996
leicestershire,NaN,0.051802,0.000000,0.146405,NaN,NaN,0.041667,NaN,0.232143,NaN,NaN,NaN,0.067296,0.200000,NaN,0.058939
lincolnshire,0.250000,0.072513,0.000000,0.185447,NaN,NaN,0.064220,0.000000,0.063830,0.000000,NaN,0.00,0.074747,0.083333,0.0,0.151961
merseyside,NaN,0.078519,0.022814,0.241365,0.25,NaN,0.038031,NaN,0.056872,0.015504,NaN,0.00,0.075454,NaN,NaN,0.124719
norfolk,0.015152,0.051282,0.022989,0.179823,0.00,NaN,0.060606,0.250000,0.043478,0.000000,1.000000,0.00,0.075630,0.173913,NaN,0.091133
north-wales,NaN,0.025281,0.027027,0.165666,NaN,NaN,NaN,NaN,0.040816,NaN,0.000000,NaN,0.063030,NaN,NaN,0.102302
north-yorkshire,NaN,0.142857,0.133333,0.170231,NaN,NaN,NaN,NaN,0.200000,NaN,NaN,NaN,0.108108,NaN,NaN,0.195021
northamptonshire,NaN,0.095823,0.181818,0.273263,NaN,NaN,0.200000,NaN,0.068966,0.000000,0.000000,NaN,0.138249,NaN,NaN,0.205128
northumbria,0.000000,0.133028,0.147465,0.267499,0.00,NaN,0.500000,0.500000,0.180556,0.400000,0.187500,NaN,0.178371,0.500000,NaN,0.274427
nottinghamshire,NaN,0.051570,0.035714,0.303907,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.50,0.101993,0.000000,NaN,0.185567
south-yorkshire,0.000000,0.000000,0.000000,0.206548,NaN,NaN,NaN,NaN,0.047619,0.000000,NaN,NaN,0.073561,NaN,NaN,0.000000
staffordshire,0.000000,0.052013,0.125000,0.280975,NaN,NaN,NaN,NaN,0.069767,NaN,NaN,NaN,0.075489,NaN,NaN,0.203929
suffolk,0.075630,0.081081,0.000000,0.227975,NaN,NaN,0.068182,0.000000,0.142857,NaN,0.000000,NaN,0.071611,0.163934,1.0,0.155303
surrey,0.096990,0.117264,0.102041,0.279868,NaN,NaN,NaN,NaN,0.086864,0.000000,0.000000,NaN,0.099160,NaN,NaN,0.250000
sussex,0.172549,0.125430,0.063492,0.259367,NaN,0.190476,0.192982,NaN,0.160714,0.179487,0.000000,NaN,0.148410,NaN,NaN,0.218206
thames-valley,0.028529,0.056148,0.000000,0.171676,0.00,NaN,0.090909,NaN,0.032787,0.000000,NaN,NaN,0.071429,NaN,NaN,0.107606
warwickshire,0.083333,0.114851,0.166667,0.298122,1.00,0.105263,0.166667,NaN,0.074074,0.000000,0.000000,0.00,0.153846,0.333333,NaN,0.260870
west-mercia,0.149425,0.158816,0.136364,0.309274,NaN,0.269231,0.187500,NaN,0.163793,0.000000,0.500000,NaN,0.165517,0.238095,NaN,0.307317
west-yorkshire,NaN,0.122532,0.089655,0.218486,NaN,NaN,0.000000,NaN,0.122581,0.077381,NaN,NaN,0.159173,0.000000,NaN,0.207024
wiltshire,0.000000,0.015385,0.181818,0.171553,NaN,NaN,0.041667,NaN,0.285714,NaN,NaN,NaN,0.053476,NaN,NaN,0.079710

In [26]:
train_filter.groupby(['Object of search','target'], dropna=False)['Outcome'].count().unstack()

target                                       False  True
Object of search
Anything to threaten or harm anyone           4866    375
Article for use in theft                     27240   3047
Articles for use in criminal damage           6211    283
Controlled drugs                            143764  48397
Crossbows                                       15      2
Detailed object of search unavailable          104     25
Evidence of offences under the Act            1722    208
Evidence of wildlife offences                   16      5
Firearms                                      2645    312
Fireworks                                     1665     30
Game or poaching equipment                      72     24
Goods on which duty has not been paid etc.      18      5
Offensive weapons                            31508   3883
Psychoactive substances                       1210    491
Seals or hunting equipment                       1      1
Stolen goods                                 21419   5198

In [4]:
train_filter.groupby(['Age range','target'], dropna=False)['Outcome'].count().unstack()

target     False  True
Age range
10-17      51691   8320
18-24      78129  25894
25-34      57724  16150
over 34    54663  11877
under 10     269     45

### Clothing removal

In [9]:
train.groupby(['station','Removal of more than just outer clothing'], dropna=False)['Outcome'].count().unstack()

Removal of more than just outer clothing     False    True    NaN
station
avon-and-somerset                           9384.0   631.0    NaN
bedfordshire                                4143.0    54.0   12.0
btp                                         9526.0    29.0    NaN
cambridgeshire                               855.0    22.0    NaN
cheshire                                    4636.0   209.0    NaN
city-of-london                              3452.0   123.0    NaN
cleveland                                   1870.0     NaN    2.0
cumbria                                     1978.0   146.0    5.0
derbyshire                                  2626.0   226.0    NaN
devon-and-cornwall                          7422.0   147.0    NaN
dorset                                      2463.0   362.0    NaN
durham                                      2719.0    59.0    NaN
dyfed-powys                                 3955.0   360.0    NaN
essex                                      18422.0   617.0    NaN
gloucestershire                             2789.0    82.0    NaN
greater-manchester                          4751.0   100.0    NaN
gwent                                        772.0     NaN    NaN
hampshire                                  13459.0   504.0    NaN
hertfordshire                              12596.0   732.0    NaN
humberside                                  3679.0   104.0    NaN
kent                                       12945.0   320.0   44.0
lancashire                                  8813.0   341.0    NaN
leicestershire                              4907.0    73.0    NaN
lincolnshire                                4866.0   181.0    NaN
merseyside                                 40257.0  1340.0    NaN
metropolitan                              350456.0     NaN  838.0
norfolk                                     4555.0   224.0    NaN
north-wales                                 5005.0   210.0    NaN
north-yorkshire                             2234.0     NaN    NaN
northamptonshire                            3283.0   243.0    NaN
northumbria                                 6628.0   421.0    NaN
nottinghamshire                             6899.0   204.0    NaN
south-yorkshire                            12919.0   246.0    NaN
staffordshire                               6801.0   517.0    NaN
suffolk                                     2994.0   361.0    NaN
surrey                                     10972.0     NaN    NaN
sussex                                      6620.0   321.0    NaN
thames-valley                              17665.0   233.0    NaN
warwickshire                                3074.0   175.0    NaN
west-mercia                                 7524.0   380.0    NaN
west-yorkshire                             16846.0   298.0    NaN
wiltshire                                   1285.0    70.0    NaN

In [28]:
train.groupby(['Removal of more than just outer clothing','target'], dropna=False)['Outcome'].count().unstack()

target                                     False  True
Removal of more than just outer clothing
False                                     589958  59087
True                                        7483   3182
NaN                                          884     17

In [29]:
train_filter.groupby(['Removal of more than just outer clothing','target'], dropna=False)['Outcome'].count().unstack()

target                                     False  True
Removal of more than just outer clothing
False                                     235051  59087
True                                        7379   3182
NaN                                           46     17

In [31]:
train_filter.groupby(['Gender','Removal of more than just outer clothing'], dropna=False)['Outcome'].count().unstack()

Removal of more than just outer clothing     False    True   NaN
Gender
Female                                     29602.0  1287.0   7.0
Male                                      264276.0  9262.0  56.0
Other                                        260.0    12.0   NaN

In [34]:
train_filter.groupby(['Age range','Removal of more than just outer clothing'], dropna=False)['Outcome'].count().unstack()

Removal of more than just outer clothing    False    True   NaN
Age range
10-17                                     59049.0   953.0   9.0
18-24                                     99972.0  4022.0  29.0
25-34                                     70862.0  2998.0  14.0
over 34                                   63953.0  2576.0  11.0
under 10                                    302.0    12.0   NaN

In [48]:
train_filter.groupby(['Officer-defined ethnicity','Removal of more than just outer clothing'], dropna=False)['Outcome'].count().unstack()

Removal of more than just outer clothing   False  True  NaN
Officer-defined ethnicity
Asian                                      23619   971    8
Black                                      30046  2288    9
Mixed                                       1719   110    1
Other                                       5769   209    5
White                                     232985  6983   40

In [33]:
train_filter.groupby(['Age range','Gender','Removal of more than just outer clothing'], dropna=False)['Outcome'].count().unstack()

Removal of more than just outer clothing    False    True   NaN
Age range Gender
10-17     Female                           5720.0    81.0   3.0
          Male                            53261.0   872.0   6.0
          Other                              68.0     NaN   NaN
18-24     Female                           8611.0   315.0   1.0
          Male                            91272.0  3703.0  28.0
          Other                              89.0     4.0   NaN
25-34     Female                           7352.0   405.0   1.0
          Male                            63464.0  2589.0  13.0
          Other                              46.0     4.0   NaN
over 34   Female                           7891.0   482.0   2.0
          Male                            56008.0  2090.0   9.0
          Other                              54.0     4.0   NaN
under 10  Female                             28.0     4.0   NaN
          Male                              271.0     8.0   NaN
          Other                               3.0     NaN   NaN

In [47]:
t = train_filter.groupby(['Age range','Gender','Officer-defined ethnicity','Removal of more than just outer clothing'], dropna=False)['Outcome'].count().unstack()
t.tail(30)

Removal of more than just outer clothing      False    True  NaN
Age range Gender Officer-defined ethnicity
25-34     Male   Other                       1326.0    54.0  NaN
                 White                      49634.0  1728.0  9.0
          Other  Asian                          6.0     NaN  NaN
                 Black                          4.0     1.0  NaN
                 Other                          1.0     NaN  NaN
                 White                         35.0     3.0  NaN
over 34   Female Asian                        126.0     8.0  NaN
                 Black                        343.0    15.0  NaN
                 Mixed                         24.0     4.0  NaN
                 Other                         90.0     6.0  NaN
                 White                       7308.0   449.0  2.0
          Male   Asian                       2831.0   108.0  NaN
                 Black                       4237.0   267.0  3.0
                 Mixed                        183.0     8.0  NaN
                 Other                        851.0    27.0  1.0
                 White                      47906.0  1680.0  5.0
          Other  Asian                          3.0     NaN  NaN
                 Black                          4.0     NaN  NaN
                 Other                          3.0     NaN  NaN
                 White                         44.0     4.0  NaN
under 10  Female Black                          2.0     NaN  NaN
                 Other                          1.0     NaN  NaN
                 White                         25.0     4.0  NaN
          Male   Asian                         14.0     1.0  NaN
                 Black                         41.0     1.0  NaN
                 Mixed                          2.0     NaN  NaN
                 Other                          6.0     NaN  NaN
                 White                        208.0     6.0  NaN
          Other  Other                          1.0     NaN  NaN
                 White                          2.0     NaN  NaN

In [30]:
train_filter.groupby(['station','Removal of more than just outer clothing'], dropna=False)['Outcome'].count().unstack()

Removal of more than just outer clothing    False    True   NaN
station
avon-and-somerset                          9384.0   631.0   NaN
bedfordshire                               4143.0    54.0  12.0
btp                                        9526.0    29.0   NaN
cambridgeshire                              855.0    22.0   NaN
cheshire                                   4636.0   209.0   NaN
city-of-london                             3452.0   123.0   NaN
cleveland                                  1870.0     NaN   2.0
cumbria                                    1978.0   146.0   5.0
derbyshire                                 2626.0   226.0   NaN
devon-and-cornwall                         7422.0   147.0   NaN
dorset                                     2463.0   362.0   NaN
durham                                     2719.0    59.0   NaN
dyfed-powys                                3955.0   360.0   NaN
essex                                     18422.0   617.0   NaN
gloucestershire                            2789.0    82.0   NaN
greater-manchester                         4751.0   100.0   NaN
hampshire                                 13459.0   504.0   NaN
hertfordshire                             12596.0   732.0   NaN
kent                                      12945.0   320.0  44.0
lancashire                                 8813.0   341.0   NaN
leicestershire                             4907.0    73.0   NaN
lincolnshire                               4866.0   181.0   NaN
merseyside                                40257.0  1340.0   NaN
norfolk                                    4555.0   224.0   NaN
north-wales                                5005.0   210.0   NaN
north-yorkshire                            2234.0     NaN   NaN
northamptonshire                           3283.0   243.0   NaN
northumbria                                6628.0   421.0   NaN
nottinghamshire                            6899.0   204.0   NaN
south-yorkshire                           12919.0   246.0   NaN
staffordshire                              6801.0   517.0   NaN
suffolk                                    2994.0   361.0   NaN
surrey                                    10972.0     NaN   NaN
sussex                                     6620.0   321.0   NaN
thames-valley                             17665.0   233.0   NaN
warwickshire                               3074.0   175.0   NaN
west-mercia                                7524.0   380.0   NaN
west-yorkshire                            16846.0   298.0   NaN
wiltshire                                  1285.0    70.0   NaN